.navbar {
  font-size: 17px;
}

.custom_carousel{
  padding: 10px;
  position: fixed;
  right: 490px;
  width: 600px;
  height: 300px;
}
/* footer */
/* .footer {
  position: relative;
  bottom: 0%;
  text-align: center;
  width: 100%;
  color: white;
  padding: 10px;
  background: #000000; 
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
} */

/* button */
.btn {
    color: white;
    border: #434343;
    border-radius: 20%;
}
.btn:hover{
    color: black;
}
.btn:on-click{
    color: black;
    border-color: 	#c2bfff;
}
