{% extends "hospitaldetails.html" %}
{% block start %}

<div class="row">
    <div class="border-right py-5">
        <h4 class="text-center"><b>Our doctors</b></h4>
    </div>
    {% for i in doc %}
    <div class="col-md-12">
        <div class="row mb-4">
            <div class="col-md-11">
                <div class="card">
                    <div class="col-md-12">
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="/static/image/therapist2.png" class="card-img-top" alt="..." height="200"
                                        width="300">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p style="margin-bottom: 1em; padding: 10px;" class="indented-paragraph">
                                    <Label>Name:&nbsp;</Label><span>{{i.name}}</span><br>
                                    <Label>Email:&nbsp;</Label><span>{{i.email}}</span><br>
                                    <label>Address:&nbsp; </label><span>{{i.address}}</span><br>
                                    <label>Degree:&nbsp; </label><span>{{i.degree}}</span><br>
                                    <Label>Designation:&nbsp; </Label><span>{{i.designation}}</span><br>
                                    <Label>Visiting hour:&nbsp;
                                    </Label><span>{{i.visiting_hour}}</span><br>
                                    <label>Hotline:&nbsp; </label><span>{{i.phone_number}}</span><br>
                                    <!-- <Label>Rating:&nbsp; </Label><span>i.rating</span><br> -->
                                </p>
                                <!-- <p>
                                    <Label>Rating:&nbsp; </Label><span>{{ random_rating }}</span><br>
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                {% if request.session.cur_user.isAdmin %}
                {% else %}
                <div class="accordion-item" style="width: 200px;">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Appointment
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <form action="/req_appointment/" method="post">
                            {% csrf_token %}
                            <div class="accordion-body">
                                <input name="email" type="text" readonly value="{{i.email}}">
                                <input name="date" type="date" id="future-date-input" min="" />
                            </div>
                            <div>
                                <button type="submit">OK</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    const futureDateInput = document.getElementById( 'future-date-input' );

    // Get the current date in yyyy-mm-dd format
    const currentDate = new Date().toISOString().split( 'T' )[ 0 ];

    // Set the min attribute to the current date
    futureDateInput.min = currentDate;
</script>

{% endblock %}