{% extends 'doctorBase.html' %}
{% block start %}
<div class="col-md-1 border-right">

</div>

<div class="col-md-7 border-right">
    <div class="py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right"><b>Profile</b></h4>

        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <label class="labels">Name:&nbsp;</label><span>{{doc_info.name}}</span><br>

            </div>

            <div class="col-md-12">
                <label class="labels">Username:&nbsp;</label><span>{{doc_info.username}}</span><br>

            </div>

            <div class="col-md-12">
                <label class="labels">Email:&nbsp;</label><span>{{doc_info.email}}</span><br>

            </div>

            <div class="col-md-12">
                <label class="labels">Address:&nbsp;</label><span>{{doc_info.address}}</span><br>

            </div>


            <div class="col-md-12">
                <label class="labels">Expertise:&nbsp;</label><span>{{doc_info.department_name}}</span><br>

            </div>

            <div class="col-md-12">
                <label class="labels">Degree:&nbsp;</label><span>{{doc_info.degree}}</span><br>

            </div>

            <div class="col-md-12">
                <label class="labels">Work place:&nbsp;</label><span>{{doc_info.work_place}}</span><br>

            </div>

            <div class="col-md-12">
                <label class="labels">Designation:&nbsp;</label><span>{{doc_info.designation}}</span><br>

            </div>

            <div class="col-md-12">
                <label class="labels">Phone Number:&nbsp;</label><span>{{doc_info.phone_number}}</span><br>
            </div>

            <div class="col-md-12">
                <label class="labels">Visiting hour:&nbsp;</label><span>{{doc_info.visiting_hour}}</span><br>

            </div>

        </div>

    </div>
</div>
{% endblock %}